In [1]:
import pandas as pd
import numpy as np

In [2]:
## Cleaning of DataBases like extracting only required features, renaming the colums as per a standerd
## STARTS

In [3]:
df = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part1/Cirr_Test000.csv')
df1 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part1/hepaTest000.csv')
df2 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part1/HCCTest000.csv')

In [4]:
# extracting only necessary faetures that are also found in other databases for merging
# Including the stage in commented line uncomment if nedded in future
# feature_extracted = ['Age','Sex','Albumin','Bilirubin','Alk_Phos','SGOT','Ascites','Spiders','Prothrombin','Hepatomegaly','Platelets','Status','Stage']
feature_extracted = ['Age','Sex','Albumin','Bilirubin','Alk_Phos','SGOT','Ascites','Spiders','Prothrombin','Hepatomegaly','Platelets','Status']

In [5]:
print(feature_extracted)

['Age', 'Sex', 'Albumin', 'Bilirubin', 'Alk_Phos', 'SGOT', 'Ascites', 'Spiders', 'Prothrombin', 'Hepatomegaly', 'Platelets', 'Status']

In [6]:
df = df[feature_extracted]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           418 non-null    int64
 1   Sex           418 non-null    int64
 2   Albumin       418 non-null    float64
 3   Bilirubin     418 non-null    float64
 4   Alk_Phos      418 non-null    float64
 5   SGOT          418 non-null    float64
 6   Ascites       418 non-null    int64
 7   Spiders       418 non-null    int64
 8   Prothrombin   418 non-null    float64
 9   Hepatomegaly  418 non-null    int64
 10  Platelets     418 non-null    float64
 11  Status        418 non-null    int64
dtypes: float64(6), int64(6)
memory usage: 39.3 KB

In [8]:
df.rename(columns = {'Age':'AGE','Sex':'GENDER','Albumin':'ALBUMIN','Bilirubin':'BILIRUBIN','Alk_Phos':'ALK_PHOSPHATE','SGOT':'SGOT','Ascites':'ASCITES','Spiders':'SPIDERS','Prothrombin':'PROTHROMBIN','Hepatomegaly':'HEPATOMEGALY','Platelets':'PALTELETS','Status':'STATUS'}, inplace = True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            418 non-null    int64
 1   GENDER         418 non-null    int64
 2   ALBUMIN        418 non-null    float64
 3   BILIRUBIN      418 non-null    float64
 4   ALK_PHOSPHATE  418 non-null    float64
 5   SGOT           418 non-null    float64
 6   ASCITES        418 non-null    int64
 7   SPIDERS        418 non-null    int64
 8   PROTHROMBIN    418 non-null    float64
 9   HEPATOMEGALY   418 non-null    int64
 10  PALTELETS      418 non-null    float64
 11  STATUS         418 non-null    int64
dtypes: float64(6), int64(6)
memory usage: 39.3 KB

In [10]:
#Adding an extra attribute class for classification in future
df['CLASS'] = 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            418 non-null    int64
 1   GENDER         418 non-null    int64
 2   ALBUMIN        418 non-null    float64
 3   BILIRUBIN      418 non-null    float64
 4   ALK_PHOSPHATE  418 non-null    float64
 5   SGOT           418 non-null    float64
 6   ASCITES        418 non-null    int64
 7   SPIDERS        418 non-null    int64
 8   PROTHROMBIN    418 non-null    float64
 9   HEPATOMEGALY   418 non-null    int64
 10  PALTELETS      418 non-null    float64
 11  STATUS         418 non-null    int64
 12  CLASS          418 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 42.6 KB

In [11]:
df.to_csv('Databases/Cleaned_Part2/cirrF.csv',index = False)

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              155 non-null    int64
 1   sex              155 non-null    int64
 2   steroid          155 non-null    int64
 3   antivirals       155 non-null    int64
 4   fatigue          155 non-null    int64
 5   malaise          155 non-null    int64
 6   anorexia         155 non-null    int64
 7   liver_big        155 non-null    int64
 8   liver_firm       155 non-null    int64
 9   spleen_palpable  155 non-null    int64
 10  spiders          155 non-null    int64
 11  ascites          155 non-null    int64
 12  varices          155 non-null    int64
 13  bilirubin        155 non-null    float64
 14  alk_phosphate    155 non-null    float64
 15  sgot             155 non-null    float64
 16  albumin          155 non-null    float64
 17  protime          155 non-null    float64
 18  histology        155 non-null    int64
 19  class            155 non-null    int64
dtypes: float64(5), int64(15)
memory usage: 24.3 KB

In [13]:
# extracting only necessary faetures that are also found in other databases for merging
feature_extracted1 = ['age','sex','albumin','bilirubin','alk_phosphate','sgot','ascites','spiders','liver_big','protime','malaise','varices','class']

In [14]:
df1 = df1[feature_extracted1]

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            155 non-null    int64
 1   sex            155 non-null    int64
 2   albumin        155 non-null    float64
 3   bilirubin      155 non-null    float64
 4   alk_phosphate  155 non-null    float64
 5   sgot           155 non-null    float64
 6   ascites        155 non-null    int64
 7   spiders        155 non-null    int64
 8   liver_big      155 non-null    int64
 9   protime        155 non-null    float64
 10  malaise        155 non-null    int64
 11  varices        155 non-null    int64
 12  class          155 non-null    int64
dtypes: float64(5), int64(8)
memory usage: 15.9 KB

In [16]:
df1.rename(columns = {'age':'AGE','sex':'GENDER','albumin':'ALBUMIN','bilirubin':'BILIRUBIN','alk_phosphate':'ALK_PHOSPHATE','sgot':'SGOT','ascites':'ASCITES','spiders':'SPIDERS','protime':'PROTINE','liver_big':'HEPATOMEGALY','malaise':'MALAISE','varices':'VARICES','class':'STATUS'}, inplace = True)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            155 non-null    int64
 1   GENDER         155 non-null    int64
 2   ALBUMIN        155 non-null    float64
 3   BILIRUBIN      155 non-null    float64
 4   ALK_PHOSPHATE  155 non-null    float64
 5   SGOT           155 non-null    float64
 6   ASCITES        155 non-null    int64
 7   SPIDERS        155 non-null    int64
 8   HEPATOMEGALY   155 non-null    int64
 9   PROTINE        155 non-null    float64
 10  MALAISE        155 non-null    int64
 11  VARICES        155 non-null    int64
 12  STATUS         155 non-null    int64
dtypes: float64(5), int64(8)
memory usage: 15.9 KB

In [18]:
#Adding an extra attribute class for classification in future
df1['CLASS'] = 2
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            155 non-null    int64
 1   GENDER         155 non-null    int64
 2   ALBUMIN        155 non-null    float64
 3   BILIRUBIN      155 non-null    float64
 4   ALK_PHOSPHATE  155 non-null    float64
 5   SGOT           155 non-null    float64
 6   ASCITES        155 non-null    int64
 7   SPIDERS        155 non-null    int64
 8   HEPATOMEGALY   155 non-null    int64
 9   PROTINE        155 non-null    float64
 10  MALAISE        155 non-null    int64
 11  VARICES        155 non-null    int64
 12  STATUS         155 non-null    int64
 13  CLASS          155 non-null    int64
dtypes: float64(5), int64(9)
memory usage: 17.1 KB

In [19]:
df1.to_csv('Databases/Cleaned_Part2/hepatF.csv',index = False)

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 50 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          204 non-null    int64
 1   Symptoms        204 non-null    int64
 2   Alcohol         204 non-null    int64
 3   HBsAg           204 non-null    int64
 4   HBeAg           204 non-null    int64
 5   HBcAb           204 non-null    int64
 6   HCVAb           204 non-null    int64
 7   Cirrhosis       204 non-null    int64
 8   Endemic         204 non-null    int64
 9   Smoking         204 non-null    int64
 10  Diabetes        204 non-null    int64
 11  Obesity         204 non-null    int64
 12  Hemochro        204 non-null    int64
 13  AHT             204 non-null    int64
 14  CRI             204 non-null    int64
 15  HIV             204 non-null    int64
 16  NASH            204 non-null    int64
 17  Varices         204 non-null    int64
 18  Spleno          204 non-null    int64
 19  PHT             204 non-null    int64
 20  PVT             204 non-null    int64
 21  Metastasis      204 non-null    int64
 22  Hallmark        204 non-null    int64
 23  Age             204 non-null    int64
 24  Grams_day       204 non-null    int64
 25  Packs_year      204 non-null    float64
 26  PS              204 non-null    int64
 27  Encephalopathy  204 non-null    int64
 28  Ascites         204 non-null    int64
 29  INR             204 non-null    float64
 30  AFP             204 non-null    float64
 31  Hemoglobin      204 non-null    float64
 32  MCV             204 non-null    float64
 33  Leucocytes      204 non-null    float64
 34  Platelets       204 non-null    float64
 35  Albumin         204 non-null    float64
 36  Total_Bil       204 non-null    float64
 37  ALT             204 non-null    int64
 38  AST             204 non-null    int64
 39  GGT             204 non-null    int64
 40  ALP             204 non-null    int64
 41  TP              204 non-null    float64
 42  Creatinine      204 non-null    float64
 43  Nodule          204 non-null    int64
 44  Major_Dim       204 non-null    float64
 45  Dir_Bil         204 non-null    float64
 46  Iron            204 non-null    float64
 47  Sat             204 non-null    float64
 48  Ferritin        204 non-null    float64
 49  Class           204 non-null    int64
dtypes: float64(16), int64(34)
memory usage: 79.8 KB

In [21]:
# extracting only necessary faetures that are also found in other databases for merging
feature_extracted2 = ['Age','Gender','Albumin','Dir_Bil','ALP','AST','Ascites','AFP','Ferritin','Hemoglobin','Platelets','Class','TP','Varices']

In [22]:
df2 = df2[feature_extracted2]

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         204 non-null    int64
 1   Gender      204 non-null    int64
 2   Albumin     204 non-null    float64
 3   Dir_Bil     204 non-null    float64
 4   ALP         204 non-null    int64
 5   AST         204 non-null    int64
 6   Ascites     204 non-null    int64
 7   AFP         204 non-null    float64
 8   Ferritin    204 non-null    float64
 9   Hemoglobin  204 non-null    float64
 10  Platelets   204 non-null    float64
 11  Class       204 non-null    int64
 12  TP          204 non-null    float64
 13  Varices     204 non-null    int64
dtypes: float64(7), int64(7)
memory usage: 22.4 KB

In [24]:
df2.rename(columns = {'Age':'AGE','Gender':'GENDER','Albumin':'ALBUMIN','Dir_Bil':'BILIRUBIN','ALP':'ALK_PHOSPHATE','AST':'SGOT','Ascites':'ASCITES','AFP':'ALPHA-FETOPROTEIN','Ferritin':'FERRITIN','Hemoglobin':'HEMOGLOBIN','Platelets':'PALTELETS','TP':'PROTINE','Varices':'VARICES','Class':'STATUS'}, inplace = True)

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                204 non-null    int64
 1   GENDER             204 non-null    int64
 2   ALBUMIN            204 non-null    float64
 3   BILIRUBIN          204 non-null    float64
 4   ALK_PHOSPHATE      204 non-null    int64
 5   SGOT               204 non-null    int64
 6   ASCITES            204 non-null    int64
 7   ALPHA-FETOPROTEIN  204 non-null    float64
 8   FERRITIN           204 non-null    float64
 9   HEMOGLOBIN         204 non-null    float64
 10  PALTELETS          204 non-null    float64
 11  STATUS             204 non-null    int64
 12  PROTINE            204 non-null    float64
 13  VARICES            204 non-null    int64
dtypes: float64(7), int64(7)
memory usage: 22.4 KB

In [26]:
#Adding an extra attribute class for classification in future
df2['CLASS'] = 3
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                204 non-null    int64
 1   GENDER             204 non-null    int64
 2   ALBUMIN            204 non-null    float64
 3   BILIRUBIN          204 non-null    float64
 4   ALK_PHOSPHATE      204 non-null    int64
 5   SGOT               204 non-null    int64
 6   ASCITES            204 non-null    int64
 7   ALPHA-FETOPROTEIN  204 non-null    float64
 8   FERRITIN           204 non-null    float64
 9   HEMOGLOBIN         204 non-null    float64
 10  PALTELETS          204 non-null    float64
 11  STATUS             204 non-null    int64
 12  PROTINE            204 non-null    float64
 13  VARICES            204 non-null    int64
 14  CLASS              204 non-null    int64
dtypes: float64(7), int64(8)
memory usage: 24.0 KB

In [27]:
df2.to_csv('Databases/Cleaned_Part2/hccF.csv',index = False)

In [28]:
##ENDS

In [29]:
##Merging STARTS

In [30]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/cirrF.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/hepatF.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/hccF.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [31]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                777 non-null    int64
 1   GENDER             777 non-null    int64
 2   ALBUMIN            777 non-null    float64
 3   BILIRUBIN          777 non-null    float64
 4   ALK_PHOSPHATE      777 non-null    float64
 5   SGOT               777 non-null    float64
 6   ASCITES            777 non-null    int64
 7   SPIDERS            573 non-null    float64
 8   PROTHROMBIN        418 non-null    float64
 9   HEPATOMEGALY       573 non-null    float64
 10  PALTELETS          622 non-null    float64
 11  STATUS             777 non-null    int64
 12  CLASS              777 non-null    int64
 13  PROTINE            359 non-null    float64
 14  MALAISE            155 non-null    float64
 15  VARICES            359 non-null    float64
 16  ALPHA-FETOPROTEIN  204 non-null    float64
 17  FERRITIN           204 non-null    float64
 18  HEMOGLOBIN         204 non-null    float64
dtypes: float64(14), int64(5)
memory usage: 115.5 KB

In [32]:
df_concat.to_csv("Databases/Merged_Part1/Merged_Part1.csv",index = False)