In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part2/cirrF.csv')
df1 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part2/hepatF.csv')
df2 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Cleaned_Part1/HCCTest000.csv')

In [3]:
#data Extracting for cirrhosis
#STARTS

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            418 non-null    int64
 1   GENDER         418 non-null    int64
 2   ALBUMIN        418 non-null    float64
 3   BILIRUBIN      418 non-null    float64
 4   ALK_PHOSPHATE  418 non-null    float64
 5   SGOT           418 non-null    float64
 6   ASCITES        418 non-null    int64
 7   SPIDERS        418 non-null    int64
 8   PROTHROMBIN    418 non-null    float64
 9   HEPATOMEGALY   418 non-null    int64
 10  PALTELETS      418 non-null    float64
 11  STATUS         418 non-null    int64
 12  CLASS          418 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 42.6 KB

In [5]:
died=df.loc[df['STATUS'] == 1] ## cirrhosis died

In [6]:
died.info()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries, 0 to 413
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            161 non-null    int64
 1   GENDER         161 non-null    int64
 2   ALBUMIN        161 non-null    float64
 3   BILIRUBIN      161 non-null    float64
 4   ALK_PHOSPHATE  161 non-null    float64
 5   SGOT           161 non-null    float64
 6   ASCITES        161 non-null    int64
 7   SPIDERS        161 non-null    int64
 8   PROTHROMBIN    161 non-null    float64
 9   HEPATOMEGALY   161 non-null    int64
 10  PALTELETS      161 non-null    float64
 11  STATUS         161 non-null    int64
 12  CLASS          161 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 17.6 KB

In [7]:
died.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirrhosis/cirr_died.csv',index = False)

In [8]:
lived=df.loc[df['STATUS'] == 0] # cirrhosis lived

In [9]:
lived.info()

<class 'pandas.core.frame.DataFrame'>
Index: 257 entries, 1 to 417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            257 non-null    int64
 1   GENDER         257 non-null    int64
 2   ALBUMIN        257 non-null    float64
 3   BILIRUBIN      257 non-null    float64
 4   ALK_PHOSPHATE  257 non-null    float64
 5   SGOT           257 non-null    float64
 6   ASCITES        257 non-null    int64
 7   SPIDERS        257 non-null    int64
 8   PROTHROMBIN    257 non-null    float64
 9   HEPATOMEGALY   257 non-null    int64
 10  PALTELETS      257 non-null    float64
 11  STATUS         257 non-null    int64
 12  CLASS          257 non-null    int64
dtypes: float64(6), int64(7)
memory usage: 28.1 KB

In [10]:
lived.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirrhosis/cirr_lived.csv',index = False)

In [11]:
#ENDS

In [12]:
#data extracting for hepatitis
#STARTS

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            155 non-null    int64
 1   GENDER         155 non-null    int64
 2   ALBUMIN        155 non-null    float64
 3   BILIRUBIN      155 non-null    float64
 4   ALK_PHOSPHATE  155 non-null    float64
 5   SGOT           155 non-null    float64
 6   ASCITES        155 non-null    int64
 7   SPIDERS        155 non-null    int64
 8   HEPATOMEGALY   155 non-null    int64
 9   PROTINE        155 non-null    float64
 10  MALAISE        155 non-null    int64
 11  VARICES        155 non-null    int64
 12  STATUS         155 non-null    int64
 13  CLASS          155 non-null    int64
dtypes: float64(5), int64(9)
memory usage: 17.1 KB

In [14]:
died=df1.loc[df1['STATUS'] == 1] ## hepatitis died

In [15]:
died.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 6 to 154
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            32 non-null     int64
 1   GENDER         32 non-null     int64
 2   ALBUMIN        32 non-null     float64
 3   BILIRUBIN      32 non-null     float64
 4   ALK_PHOSPHATE  32 non-null     float64
 5   SGOT           32 non-null     float64
 6   ASCITES        32 non-null     int64
 7   SPIDERS        32 non-null     int64
 8   HEPATOMEGALY   32 non-null     int64
 9   PROTINE        32 non-null     float64
 10  MALAISE        32 non-null     int64
 11  VARICES        32 non-null     int64
 12  STATUS         32 non-null     int64
 13  CLASS          32 non-null     int64
dtypes: float64(5), int64(9)
memory usage: 3.8 KB

In [16]:
died.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis/hepa_died.csv',index = False)

In [17]:
lived=df1.loc[(df1['STATUS'] == 0)] # hepatitis lived

In [18]:
lived.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123 entries, 0 to 153
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AGE            123 non-null    int64
 1   GENDER         123 non-null    int64
 2   ALBUMIN        123 non-null    float64
 3   BILIRUBIN      123 non-null    float64
 4   ALK_PHOSPHATE  123 non-null    float64
 5   SGOT           123 non-null    float64
 6   ASCITES        123 non-null    int64
 7   SPIDERS        123 non-null    int64
 8   HEPATOMEGALY   123 non-null    int64
 9   PROTINE        123 non-null    float64
 10  MALAISE        123 non-null    int64
 11  VARICES        123 non-null    int64
 12  STATUS         123 non-null    int64
 13  CLASS          123 non-null    int64
dtypes: float64(5), int64(9)
memory usage: 14.4 KB

In [19]:
lived.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis/hepa_lived.csv',index = False)

In [20]:
##ENDS

In [21]:
#data cleaning for hcc for cirrhosis and hepatitis by considiring HCC dataset
#STARTS

In [22]:
feature_extracted2 = ['Age','Gender','Albumin','HBsAg','HBeAg','HBcAb','HCVAb','Dir_Bil','ALP','AST','Ascites','AFP','Ferritin','Hemoglobin','Platelets','Class','Cirrhosis','TP','Varices']

In [23]:
print(feature_extracted2)

['Age', 'Gender', 'Albumin', 'HBsAg', 'HBeAg', 'HBcAb', 'HCVAb', 'Dir_Bil', 'ALP', 'AST', 'Ascites', 'AFP', 'Ferritin', 'Hemoglobin', 'Platelets', 'Class', 'Cirrhosis', 'TP', 'Varices']

In [24]:
df2 = df2[feature_extracted2]

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         204 non-null    int64
 1   Gender      204 non-null    int64
 2   Albumin     204 non-null    float64
 3   HBsAg       204 non-null    int64
 4   HBeAg       204 non-null    int64
 5   HBcAb       204 non-null    int64
 6   HCVAb       204 non-null    int64
 7   Dir_Bil     204 non-null    float64
 8   ALP         204 non-null    int64
 9   AST         204 non-null    int64
 10  Ascites     204 non-null    int64
 11  AFP         204 non-null    float64
 12  Ferritin    204 non-null    float64
 13  Hemoglobin  204 non-null    float64
 14  Platelets   204 non-null    float64
 15  Class       204 non-null    int64
 16  Cirrhosis   204 non-null    int64
 17  TP          204 non-null    float64
 18  Varices     204 non-null    int64
dtypes: float64(7), int64(12)
memory usage: 30.4 KB

In [26]:
df2.rename(columns = {'Age':'AGE','Gender':'GENDER','Albumin':'ALBUMIN','Dir_Bil':'BILIRUBIN','ALP':'ALK_PHOSPHATE','AST':'SGOT','Ascites':'ASCITES','AFP':'ALPHA-FETOPROTEIN','Ferritin':'FERRITIN','Hemoglobin':'HEMOGLOBIN','Platelets':'PALTELETS','TP':'PROTINE','Varices':'VARICES','Class':'STATUS'}, inplace = True)

In [27]:
df2.info()
##the below dataset contain data for both cirrhosis and heptatis data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                204 non-null    int64
 1   GENDER             204 non-null    int64
 2   ALBUMIN            204 non-null    float64
 3   HBsAg              204 non-null    int64
 4   HBeAg              204 non-null    int64
 5   HBcAb              204 non-null    int64
 6   HCVAb              204 non-null    int64
 7   BILIRUBIN          204 non-null    float64
 8   ALK_PHOSPHATE      204 non-null    int64
 9   SGOT               204 non-null    int64
 10  ASCITES            204 non-null    int64
 11  ALPHA-FETOPROTEIN  204 non-null    float64
 12  FERRITIN           204 non-null    float64
 13  HEMOGLOBIN         204 non-null    float64
 14  PALTELETS          204 non-null    float64
 15  STATUS             204 non-null    int64
 16  Cirrhosis          204 non-null    int64
 17  PROTINE            204 non-null    float64
 18  VARICES            204 non-null    int64
dtypes: float64(7), int64(12)
memory usage: 30.4 KB

In [28]:
#Getting data of those patient that have cirrhois and died from hcc dataset
died = df2.loc[(df2['Cirrhosis'] == 1) & (df2['STATUS'] == 1)] ##DIED in cirrhosis
died

,AGE,GENDER,ALBUMIN,HBsAg,HBeAg,HBcAb,HCVAb,BILIRUBIN,ALK_PHOSPHATE,SGOT,ASCITES,ALPHA-FETOPROTEIN,FERRITIN,HEMOGLOBIN,PALTELETS,STATUS,Cirrhosis,PROTINE,VARICES
3,77,0,3.70,0,0,0,0,0.20,174,64,0,2440.0,1316.0,13.4,279.00,1,1,8.1,0
5,75,0,3.40,0,0,0,0,1.40,396,122,1,110.0,111.0,13.4,85.00,1,1,5.6,1
6,49,0,2.35,0,0,1,1,2.19,211,183,0,138.9,1452.0,10.4,42000.00,1,1,7.3,0
7,61,0,3.10,0,0,0,0,1.30,300,108,0,9860.0,706.0,10.8,58.00,1,1,7.1,0
10,41,0,4.40,0,0,0,1,1.10,236,334,1,100809.0,363.0,13.0,196.00,1,1,7.6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,65,0,3.45,0,0,0,0,1.10,575,228,0,337.2,718.0,12.4,216523.07,1,1,7.2,0
199,70,1,3.18,0,0,0,1,1.35,117,126,0,502.6,873.0,11.1,90846.80,1,1,7.0,1
200,80,1,3.26,0,0,0,0,1.04,231,56,1,2353.7,70.0,12.2,332033.67,1,1,6.5,0
201,80,0,2.93,0,0,0,0,1.57,304,68,0,23.4,106.0,10.2,195.76,1,1,7.0,0
202,74,0,3.31,0,0,0,0,0.63,197,48,0,6.1,859.0,13.0,101884.41,1,1,7.2,1

In [29]:
get = df2.loc[(df2['HBeAg'] == 1) | (df2['HCVAb'] == 1) | (df2['HBsAg'] == 1) | (df2['HBcAb'] == 1)]
get.info() ##to check the number of hepatitis patient to cross validate

<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, 1 to 199
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                73 non-null     int64
 1   GENDER             73 non-null     int64
 2   ALBUMIN            73 non-null     float64
 3   HBsAg              73 non-null     int64
 4   HBeAg              73 non-null     int64
 5   HBcAb              73 non-null     int64
 6   HCVAb              73 non-null     int64
 7   BILIRUBIN          73 non-null     float64
 8   ALK_PHOSPHATE      73 non-null     int64
 9   SGOT               73 non-null     int64
 10  ASCITES            73 non-null     int64
 11  ALPHA-FETOPROTEIN  73 non-null     float64
 12  FERRITIN           73 non-null     float64
 13  HEMOGLOBIN         73 non-null     float64
 14  PALTELETS          73 non-null     float64
 15  STATUS             73 non-null     int64
 16  Cirrhosis          73 non-null     int64
 17  PROTINE            73 non-null     float64
 18  VARICES            73 non-null     int64
dtypes: float64(7), int64(12)
memory usage: 11.4 KB

In [30]:
#Getting data of those patient that have hepatitis and died from hcc dataset
died2 = df2.loc[((df2['HBeAg'] == 1) | (df2['HCVAb'] == 1) | (df2['HBsAg'] == 1) | (df2['HBcAb'] == 1)) & (df2['STATUS'] == 1)] 
died2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 6 to 199
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                35 non-null     int64
 1   GENDER             35 non-null     int64
 2   ALBUMIN            35 non-null     float64
 3   HBsAg              35 non-null     int64
 4   HBeAg              35 non-null     int64
 5   HBcAb              35 non-null     int64
 6   HCVAb              35 non-null     int64
 7   BILIRUBIN          35 non-null     float64
 8   ALK_PHOSPHATE      35 non-null     int64
 9   SGOT               35 non-null     int64
 10  ASCITES            35 non-null     int64
 11  ALPHA-FETOPROTEIN  35 non-null     float64
 12  FERRITIN           35 non-null     float64
 13  HEMOGLOBIN         35 non-null     float64
 14  PALTELETS          35 non-null     float64
 15  STATUS             35 non-null     int64
 16  Cirrhosis          35 non-null     int64
 17  PROTINE            35 non-null     float64
 18  VARICES            35 non-null     int64
dtypes: float64(7), int64(12)
memory usage: 5.5 KB

In [31]:
#dropping features that are unnecessary while imputation
died = died.drop(['Cirrhosis','HBsAg','HBeAg','HBcAb','HCVAb'],axis = 1)
died2 = died2.drop(['Cirrhosis','HBsAg','HBeAg','HBcAb','HCVAb'],axis = 1)

In [32]:
#Getting data of those patient that have cirrhois and lived from hcc dataset
lived = df2.loc[(df2['Cirrhosis'] == 1) & (df2['STATUS'] == 0)]

In [33]:
#Getting data of those patient that have hepatitis and lived from hcc dataset
lived2 = df2.loc[((df2['HBeAg'] == 1) | (df2['HCVAb'] == 1) | (df2['HBsAg'] == 1) | (df2['HBcAb'] == 1)) & (df2['STATUS'] == 0)]
lived2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 1 to 160
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                38 non-null     int64
 1   GENDER             38 non-null     int64
 2   ALBUMIN            38 non-null     float64
 3   HBsAg              38 non-null     int64
 4   HBeAg              38 non-null     int64
 5   HBcAb              38 non-null     int64
 6   HCVAb              38 non-null     int64
 7   BILIRUBIN          38 non-null     float64
 8   ALK_PHOSPHATE      38 non-null     int64
 9   SGOT               38 non-null     int64
 10  ASCITES            38 non-null     int64
 11  ALPHA-FETOPROTEIN  38 non-null     float64
 12  FERRITIN           38 non-null     float64
 13  HEMOGLOBIN         38 non-null     float64
 14  PALTELETS          38 non-null     float64
 15  STATUS             38 non-null     int64
 16  Cirrhosis          38 non-null     int64
 17  PROTINE            38 non-null     float64
 18  VARICES            38 non-null     int64
dtypes: float64(7), int64(12)
memory usage: 5.9 KB

In [34]:
#dropping features that are unnecessary while imputation
lived = lived.drop(['Cirrhosis','HBsAg','HBeAg','HBcAb','HCVAb'],axis = 1)
lived2 = lived2.drop(['Cirrhosis','HBsAg','HBeAg','HBcAb','HCVAb'],axis = 1)

In [35]:
## hcc who died and have cirrhosis
died.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Cirrhosis/hcc_cirr_died.csv',index = False)

In [36]:
## hcc who died and have hepatitis
died2.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Hepatitis/hcc_hepa_died.csv',index = False)

In [37]:
## hcc who lived and have cirrhosis
lived.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Cirrhosis/hcc_cirr_lived.csv',index = False)

In [38]:
## hcc who lived and have hepatitis
lived2.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Hepatitis/hcc_hepa_lived.csv',index = False)

In [39]:
##ENDS

In [40]:
## merging of patients of cirrhosis and hcc(cirr)
#Starts

In [41]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirrhosis/cirr_lived.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Cirrhosis/hcc_cirr_lived.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [42]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                350 non-null    int64
 1   GENDER             350 non-null    int64
 2   ALBUMIN            350 non-null    float64
 3   BILIRUBIN          350 non-null    float64
 4   ALK_PHOSPHATE      350 non-null    float64
 5   SGOT               350 non-null    float64
 6   ASCITES            350 non-null    int64
 7   SPIDERS            257 non-null    float64
 8   PROTHROMBIN        257 non-null    float64
 9   HEPATOMEGALY       257 non-null    float64
 10  PALTELETS          350 non-null    float64
 11  STATUS             350 non-null    int64
 12  CLASS              257 non-null    float64
 13  ALPHA-FETOPROTEIN  93 non-null     float64
 14  FERRITIN           93 non-null     float64
 15  HEMOGLOBIN         93 non-null     float64
 16  PROTINE            93 non-null     float64
 17  VARICES            93 non-null     float64
dtypes: float64(14), int64(4)
memory usage: 49.3 KB

In [43]:
df_concat.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirhosis_&_Hcc(cirr)_merged/hcc_cirr_live_merge.csv',index = False)

In [44]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirrhosis/cirr_died.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Cirrhosis/hcc_cirr_died.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)

In [45]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                251 non-null    int64
 1   GENDER             251 non-null    int64
 2   ALBUMIN            251 non-null    float64
 3   BILIRUBIN          251 non-null    float64
 4   ALK_PHOSPHATE      251 non-null    float64
 5   SGOT               251 non-null    float64
 6   ASCITES            251 non-null    int64
 7   SPIDERS            161 non-null    float64
 8   PROTHROMBIN        161 non-null    float64
 9   HEPATOMEGALY       161 non-null    float64
 10  PALTELETS          251 non-null    float64
 11  STATUS             251 non-null    int64
 12  CLASS              161 non-null    float64
 13  ALPHA-FETOPROTEIN  90 non-null     float64
 14  FERRITIN           90 non-null     float64
 15  HEMOGLOBIN         90 non-null     float64
 16  PROTINE            90 non-null     float64
 17  VARICES            90 non-null     float64
dtypes: float64(14), int64(4)
memory usage: 35.4 KB

In [46]:
df_concat.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirhosis_&_Hcc(cirr)_merged/hcc_cirr_died_merge.csv',index = False)

In [47]:
#ENDS

In [48]:
## merging of patients of hepatitis and hcc(hepa)
#Starts

In [49]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis/hepa_lived.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Hepatitis/hcc_hepa_lived.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True) 
##hcc & hepta lived merge

In [50]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                161 non-null    int64
 1   GENDER             161 non-null    int64
 2   ALBUMIN            161 non-null    float64
 3   BILIRUBIN          161 non-null    float64
 4   ALK_PHOSPHATE      161 non-null    float64
 5   SGOT               161 non-null    float64
 6   ASCITES            161 non-null    int64
 7   SPIDERS            123 non-null    float64
 8   HEPATOMEGALY       123 non-null    float64
 9   PROTINE            161 non-null    float64
 10  MALAISE            123 non-null    float64
 11  VARICES            161 non-null    int64
 12  STATUS             161 non-null    int64
 13  CLASS              123 non-null    float64
 14  ALPHA-FETOPROTEIN  38 non-null     float64
 15  FERRITIN           38 non-null     float64
 16  HEMOGLOBIN         38 non-null     float64
 17  PALTELETS          38 non-null     float64
dtypes: float64(13), int64(5)
memory usage: 22.8 KB

In [51]:
df_concat.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis_&_Hcc(hepa)_merged/hcc_hepa_live_merge.csv',index = False)

In [52]:
csv_files = [('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis/hepa_died.csv'),('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hcc_&_Hepatitis/hcc_hepa_died.csv')]
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True) 
##hcc & hepta died merge

In [53]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                67 non-null     int64
 1   GENDER             67 non-null     int64
 2   ALBUMIN            67 non-null     float64
 3   BILIRUBIN          67 non-null     float64
 4   ALK_PHOSPHATE      67 non-null     float64
 5   SGOT               67 non-null     float64
 6   ASCITES            67 non-null     int64
 7   SPIDERS            32 non-null     float64
 8   HEPATOMEGALY       32 non-null     float64
 9   PROTINE            67 non-null     float64
 10  MALAISE            32 non-null     float64
 11  VARICES            67 non-null     int64
 12  STATUS             67 non-null     int64
 13  CLASS              32 non-null     float64
 14  ALPHA-FETOPROTEIN  35 non-null     float64
 15  FERRITIN           35 non-null     float64
 16  HEMOGLOBIN         35 non-null     float64
 17  PALTELETS          35 non-null     float64
dtypes: float64(13), int64(5)
memory usage: 9.6 KB

In [54]:
df_concat.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis_&_Hcc(hepa)_merged/hcc_hepa_died_merge.csv',index = False)

In [55]:
##ENDS

In [56]:
##starting imputing

In [57]:
## imputing cirrhosis data is our main objective all the data that will be imputed in hcc part will be ignored as it will 
##create double data

In [58]:
df4 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirhosis_&_Hcc(cirr)_merged/hcc_cirr_live_merge.csv')
df5 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cirhosis_&_Hcc(cirr)_merged/hcc_cirr_died_merge.csv')
df6 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis_&_Hcc(hepa)_merged/hcc_hepa_live_merge.csv')
df7 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Hepatitis_&_Hcc(hepa)_merged/hcc_hepa_died_merge.csv')

In [59]:
df4.info()
print('\n')
df5.info()
print('\n')
df6.info()
print('\n')
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                350 non-null    int64
 1   GENDER             350 non-null    int64
 2   ALBUMIN            350 non-null    float64
 3   BILIRUBIN          350 non-null    float64
 4   ALK_PHOSPHATE      350 non-null    float64
 5   SGOT               350 non-null    float64
 6   ASCITES            350 non-null    int64
 7   SPIDERS            257 non-null    float64
 8   PROTHROMBIN        257 non-null    float64
 9   HEPATOMEGALY       257 non-null    float64
 10  PALTELETS          350 non-null    float64
 11  STATUS             350 non-null    int64
 12  CLASS              257 non-null    float64
 13  ALPHA-FETOPROTEIN  93 non-null     float64
 14  FERRITIN           93 non-null     float64
 15  HEMOGLOBIN         93 non-null     float64
 16  PROTINE            93 non-null     float64
 17  VARICES            93 non-null     float64
dtypes: float64(14), int64(4)
memory usage: 49.3 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                251 non-null    int64
 1   GENDER             251 non-null    int64
 2   ALBUMIN            251 non-null    float64
 3   BILIRUBIN          251 non-null    float64
 4   ALK_PHOSPHATE      251 non-null    float64
 5   SGOT               251 non-null    float64
 6   ASCITES            251 non-null    int64
 7   SPIDERS            161 non-null    float64
 8   PROTHROMBIN        161 non-null    float64
 9   HEPATOMEGALY       161 non-null    float64
 10  PALTELETS          251 non-null    float64
 11  STATUS             251 non-null    int64
 12  CLASS              161 non-null    float64
 13  ALPHA-FETOPROTEIN  90 non-null     float64
 14  FERRITIN           90 non-null     float64
 15  HEMOGLOBIN         90 non-null     float64
 16  PROTINE            90 non-null     float64
 17  VARICES            90 non-null     float64
dtypes: float64(14), int64(4)
memory usage: 35.4 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                161 non-null    int64
 1   GENDER             161 non-null    int64
 2   ALBUMIN            161 non-null    float64
 3   BILIRUBIN          161 non-null    float64
 4   ALK_PHOSPHATE      161 non-null    float64
 5   SGOT               161 non-null    float64
 6   ASCITES            161 non-null    int64
 7   SPIDERS            123 non-null    float64
 8   HEPATOMEGALY       123 non-null    float64
 9   PROTINE            161 non-null    float64
 10  MALAISE            123 non-null    float64
 11  VARICES            161 non-null    int64
 12  STATUS             161 non-null    int64
 13  CLASS              123 non-null    float64
 14  ALPHA-FETOPROTEIN  38 non-null     float64
 15  FERRITIN           38 non-null     float64
 16  HEMOGLOBIN         38 non-null     float64
 17  PALTELETS          38 non-null     float64
dtypes: float64(13), int64(5)
memory usage: 22.8 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                67 non-null     int64
 1   GENDER             67 non-null     int64
 2   ALBUMIN            67 non-null     float64
 3   BILIRUBIN          67 non-null     float64
 4   ALK_PHOSPHATE      67 non-null     float64
 5   SGOT               67 non-null     float64
 6   ASCITES            67 non-null     int64
 7   SPIDERS            32 non-null     float64
 8   HEPATOMEGALY       32 non-null     float64
 9   PROTINE            67 non-null     float64
 10  MALAISE            32 non-null     float64
 11  VARICES            67 non-null     int64
 12  STATUS             67 non-null     int64
 13  CLASS              32 non-null     float64
 14  ALPHA-FETOPROTEIN  35 non-null     float64
 15  FERRITIN           35 non-null     float64
 16  HEMOGLOBIN         35 non-null     float64
 17  PALTELETS          35 non-null     float64
dtypes: float64(13), int64(5)
memory usage: 9.6 KB

In [60]:
df4['CLASS'] = df4['CLASS'].replace({1:'CR'}) ##turning into object to later identify differnce btwn hcc and Cirr as kepping 
#numerical also impute it for the whole dataset with 1
df4.select_dtypes(include=(['int64', 'float64'])).isna().sum()
df_num_col = df4.select_dtypes(include=(['int64', 'float64'])).columns
for c in df_num_col:
    df4[c].fillna(df4[c].median(), inplace=True)

df4.select_dtypes(include=(['int64', 'float64'])).isna().sum()

AGE                  0
GENDER               0
ALBUMIN              0
BILIRUBIN            0
ALK_PHOSPHATE        0
SGOT                 0
ASCITES              0
SPIDERS              0
PROTHROMBIN          0
HEPATOMEGALY         0
PALTELETS            0
STATUS               0
ALPHA-FETOPROTEIN    0
FERRITIN             0
HEMOGLOBIN           0
PROTINE              0
VARICES              0
dtype: int64

In [61]:
df5['CLASS'] = df5['CLASS'].replace({1:'CR'}) ##turning into object to later identify differnce btwn hcc and Cirr as kepping 
#numerical also impute it for the whole dataset with 1
df5.select_dtypes(include=(['int64', 'float64'])).isna().sum()
df_num_col = df5.select_dtypes(include=(['int64', 'float64'])).columns
for c in df_num_col:
    df5[c].fillna(df5[c].median(), inplace=True)

df5.select_dtypes(include=(['int64', 'float64'])).isna().sum()

AGE                  0
GENDER               0
ALBUMIN              0
BILIRUBIN            0
ALK_PHOSPHATE        0
SGOT                 0
ASCITES              0
SPIDERS              0
PROTHROMBIN          0
HEPATOMEGALY         0
PALTELETS            0
STATUS               0
ALPHA-FETOPROTEIN    0
FERRITIN             0
HEMOGLOBIN           0
PROTINE              0
VARICES              0
dtype: int64

In [62]:
df6['CLASS'] = df6['CLASS'].replace({2:'HP'}) ##turning into object to later identify differnce btwn hcc and Cirr as kepping 
#numerical also impute it for the whole dataset with 2
df6.select_dtypes(include=(['int64', 'float64'])).isna().sum()
df_num_col = df6.select_dtypes(include=(['int64', 'float64'])).columns
for c in df_num_col:
    df6[c].fillna(df6[c].median(), inplace=True)

df6.select_dtypes(include=(['int64', 'float64'])).isna().sum()

AGE                  0
GENDER               0
ALBUMIN              0
BILIRUBIN            0
ALK_PHOSPHATE        0
SGOT                 0
ASCITES              0
SPIDERS              0
HEPATOMEGALY         0
PROTINE              0
MALAISE              0
VARICES              0
STATUS               0
ALPHA-FETOPROTEIN    0
FERRITIN             0
HEMOGLOBIN           0
PALTELETS            0
dtype: int64

In [63]:
df7['CLASS'] = df7['CLASS'].replace({2:'HP'}) ##turning into object to later identify differnce btwn hcc and Cirr as kepping 
#numerical also impute it for the whole dataset with 1
df7.select_dtypes(include=(['int64', 'float64'])).isna().sum()
df_num_col = df7.select_dtypes(include=(['int64', 'float64'])).columns
for c in df_num_col:
    df7[c].fillna(df7[c].median(), inplace=True)

df7.select_dtypes(include=(['int64', 'float64'])).isna().sum()

AGE                  0
GENDER               0
ALBUMIN              0
BILIRUBIN            0
ALK_PHOSPHATE        0
SGOT                 0
ASCITES              0
SPIDERS              0
HEPATOMEGALY         0
PROTINE              0
MALAISE              0
VARICES              0
STATUS               0
ALPHA-FETOPROTEIN    0
FERRITIN             0
HEMOGLOBIN           0
PALTELETS            0
dtype: int64

In [64]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                350 non-null    int64
 1   GENDER             350 non-null    int64
 2   ALBUMIN            350 non-null    float64
 3   BILIRUBIN          350 non-null    float64
 4   ALK_PHOSPHATE      350 non-null    float64
 5   SGOT               350 non-null    float64
 6   ASCITES            350 non-null    int64
 7   SPIDERS            350 non-null    float64
 8   PROTHROMBIN        350 non-null    float64
 9   HEPATOMEGALY       350 non-null    float64
 10  PALTELETS          350 non-null    float64
 11  STATUS             350 non-null    int64
 12  CLASS              257 non-null    object
 13  ALPHA-FETOPROTEIN  350 non-null    float64
 14  FERRITIN           350 non-null    float64
 15  HEMOGLOBIN         350 non-null    float64
 16  PROTINE            350 non-null    float64
 17  VARICES            350 non-null    float64
dtypes: float64(13), int64(4), object(1)
memory usage: 49.3+ KB

In [65]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                161 non-null    int64
 1   GENDER             161 non-null    int64
 2   ALBUMIN            161 non-null    float64
 3   BILIRUBIN          161 non-null    float64
 4   ALK_PHOSPHATE      161 non-null    float64
 5   SGOT               161 non-null    float64
 6   ASCITES            161 non-null    int64
 7   SPIDERS            161 non-null    float64
 8   HEPATOMEGALY       161 non-null    float64
 9   PROTINE            161 non-null    float64
 10  MALAISE            161 non-null    float64
 11  VARICES            161 non-null    int64
 12  STATUS             161 non-null    int64
 13  CLASS              123 non-null    object
 14  ALPHA-FETOPROTEIN  161 non-null    float64
 15  FERRITIN           161 non-null    float64
 16  HEMOGLOBIN         161 non-null    float64
 17  PALTELETS          161 non-null    float64
dtypes: float64(12), int64(5), object(1)
memory usage: 22.8+ KB

In [66]:
## Saving of Imputed Noisy Data

In [67]:
df4.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/cirr_live_noisy.csv',index = False)

In [68]:
df5.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/cirr_died_noisy.csv',index = False)

In [69]:
df6.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/hepa_live_noisy.csv',index = False)

In [70]:
df7.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/hepa_died_noisy.csv',index = False)

In [71]:
## seprating the newly imputed cirrosis and hepatitis datasets

In [72]:
df8 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/cirr_live_noisy.csv')
df9 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/cirr_died_noisy.csv')
df10 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/hepa_live_noisy.csv')
df11 = pd.read_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Noisy_ALL/hepa_died_noisy.csv')

In [73]:
df8['CLASS'] = df8['CLASS'].replace({'CR':1})
df9['CLASS'] = df9['CLASS'].replace({'CR':1})
df10['CLASS'] = df10['CLASS'].replace({'HP':2})
df11['CLASS'] = df11['CLASS'].replace({'HP':2})
df8.info()
print('\n')
df9.info()
print('\n')
df10.info()
print('\n')
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                350 non-null    int64
 1   GENDER             350 non-null    int64
 2   ALBUMIN            350 non-null    float64
 3   BILIRUBIN          350 non-null    float64
 4   ALK_PHOSPHATE      350 non-null    float64
 5   SGOT               350 non-null    float64
 6   ASCITES            350 non-null    int64
 7   SPIDERS            350 non-null    float64
 8   PROTHROMBIN        350 non-null    float64
 9   HEPATOMEGALY       350 non-null    float64
 10  PALTELETS          350 non-null    float64
 11  STATUS             350 non-null    int64
 12  CLASS              257 non-null    float64
 13  ALPHA-FETOPROTEIN  350 non-null    float64
 14  FERRITIN           350 non-null    float64
 15  HEMOGLOBIN         350 non-null    float64
 16  PROTINE            350 non-null    float64
 17  VARICES            350 non-null    float64
dtypes: float64(14), int64(4)
memory usage: 49.3 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                251 non-null    int64
 1   GENDER             251 non-null    int64
 2   ALBUMIN            251 non-null    float64
 3   BILIRUBIN          251 non-null    float64
 4   ALK_PHOSPHATE      251 non-null    float64
 5   SGOT               251 non-null    float64
 6   ASCITES            251 non-null    int64
 7   SPIDERS            251 non-null    float64
 8   PROTHROMBIN        251 non-null    float64
 9   HEPATOMEGALY       251 non-null    float64
 10  PALTELETS          251 non-null    float64
 11  STATUS             251 non-null    int64
 12  CLASS              161 non-null    float64
 13  ALPHA-FETOPROTEIN  251 non-null    float64
 14  FERRITIN           251 non-null    float64
 15  HEMOGLOBIN         251 non-null    float64
 16  PROTINE            251 non-null    float64
 17  VARICES            251 non-null    float64
dtypes: float64(14), int64(4)
memory usage: 35.4 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                161 non-null    int64
 1   GENDER             161 non-null    int64
 2   ALBUMIN            161 non-null    float64
 3   BILIRUBIN          161 non-null    float64
 4   ALK_PHOSPHATE      161 non-null    float64
 5   SGOT               161 non-null    float64
 6   ASCITES            161 non-null    int64
 7   SPIDERS            161 non-null    float64
 8   HEPATOMEGALY       161 non-null    float64
 9   PROTINE            161 non-null    float64
 10  MALAISE            161 non-null    float64
 11  VARICES            161 non-null    int64
 12  STATUS             161 non-null    int64
 13  CLASS              123 non-null    float64
 14  ALPHA-FETOPROTEIN  161 non-null    float64
 15  FERRITIN           161 non-null    float64
 16  HEMOGLOBIN         161 non-null    float64
 17  PALTELETS          161 non-null    float64
dtypes: float64(13), int64(5)
memory usage: 22.8 KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                161 non-null    int64
 1   GENDER             161 non-null    int64
 2   ALBUMIN            161 non-null    float64
 3   BILIRUBIN          161 non-null    float64
 4   ALK_PHOSPHATE      161 non-null    float64
 5   SGOT               161 non-null    float64
 6   ASCITES            161 non-null    int64
 7   SPIDERS            161 non-null    float64
 8   HEPATOMEGALY       161 non-null    float64
 9   PROTINE            161 non-null    float64
 10  MALAISE            161 non-null    float64
 11  VARICES            161 non-null    int64
 12  STATUS             161 non-null    int64
 13  CLASS              123 non-null    float64
 14  ALPHA-FETOPROTEIN  161 non-null    float64
 15  FERRITIN           161 non-null    float64
 16  HEMOGLOBIN         161 non-null    float64
 17  PALTELETS          161 non-null    float64
dtypes: float64(13), int64(5)
memory usage: 22.8 KB

In [74]:
cirr0 = df8.loc[df8['CLASS'] == 1] ## cirrhosis lived
cirr1 = df9.loc[df9['CLASS'] == 1] ## cirrhosis died
hepa0 = df10.loc[df10['CLASS'] == 2] ## hepatitis lived
hepa1 = df11.loc[df11['CLASS'] == 2] ## hepatitis lived

In [75]:
cirr0.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/cirr0.csv',index = False)
cirr1.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/cirr1.csv',index = False)
hepa0.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/hepa0.csv',index = False)
hepa1.to_csv('/home/zack83/Dropbox/Tripura_University/Project_Final/Databases/Partitioned_Datasets/Cleaned_Parts/hepa1.csv',index = False)